/dts-v1/;
/plugin/;

&fpga_full {
    firmware-name = "kv260-cam.bit.bin";
    resets = <&zynqmp_reset 0x74>;
};

&amba {
    #address-cells = <2>;
    #size-cells = <2>;

    clocking0: clocking0 {
        #clock-cells = <0>;
        compatible = "xlnx,fclk";
        clocks = <&zynqmp_clk 71>;
        assigned-clocks = <&zynqmp_clk 71>;
        assigned-clock-rates = <142857142>;
        clock-output-names = "fabric_clk";
    };

    clocking1: clocking1 {
        #clock-cells = <0>;
        compatible = "xlnx,fclk";
        clocks = <&zynqmp_clk 72>;
        assigned-clocks = <&zynqmp_clk 72>;
        assigned-clock-rates = <199999998>;
        clock-output-names = "fabric_clk";
    };

    imx519_clk: imx519_clk {
        #clock-cells = <0>;
        compatible = "fixed-clock";
        clock-frequency = <24000000>;
    };

    imx519_vana: imx519_vana {
        compatible = "regulator-fixed";
        regulator-name = "imx519_vana";
        regulator-min-microvolt = <2800000>;
        regulator-max-microvolt = <2800000>;
    };

    imx519_vdig: imx519_vdig {
        compatible = "regulator-fixed";
        regulator-name = "imx519_vdig";
        regulator-min-microvolt = <1050000>;
        regulator-max-microvolt = <1050000>;
    };

    imx519_vddl: imx519_vddl {
        compatible = "regulator-fixed";
        regulator-name = "imx519_vddl";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
    };

    axi_iic_0: i2c@a0010000 {
        compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
        reg = <0x0 0xa0010000 0x0 0x10000>;
        clocks = <&zynqmp_clk 71>;
        clock-names = "s_axi_aclk";
        interrupt-parent = <&gic>;
        interrupts = <0 89 4>;
        #address-cells = <1>;
        #size-cells = <0>;

        i2c-mux@74 {
            compatible = "nxp,pca9546";
            reg = <0x74>;
            #address-cells = <1>;
            #size-cells = <0>;

            i2c@0 { reg = <0>; #address-cells = <1>; #size-cells = <0>; };
            i2c@1 { reg = <1>; #address-cells = <1>; #size-cells = <0>; };

            i2c@2 {
                reg = <2>;
                #address-cells = <1>;
                #size-cells = <0>;

                imx519: sensor@1a {
                    compatible = "sony,imx519";
                    reg = <0x1a>;
                    clocks = <&imx519_clk>;
                    clock-names = "xclk";
                    VANA-supply = <&imx519_vana>;
                    VDIG-supply = <&imx519_vdig>;
                    VDDL-supply = <&imx519_vddl>;
                    rotation = <0>;
                    orientation = <2>;

                    port {
                        imx519_0: endpoint {
                            remote-endpoint = <&csi_in>;
                            data-lanes = <1 2>;
                            clock-noncontinuous;
                            link-frequencies = /bits/ 64 <493500000>;
                        };
                    };
                };

                imx519_vcm: ak7375@c {
                    compatible = "asahi-kasei,ak7375";
                    reg = <0x0c>;
                    status = "disabled";
                };
            };

            i2c@3 { reg = <3>; #address-cells = <1>; #size-cells = <0>; };
        };
    };

    mipi_csi2_rx_subsyst_0: mipi_csi2_rx_subsystem@a0020000 {
        compatible = "xlnx,mipi-csi2-rx-subsystem-5.0";
        reg = <0x0 0xa0020000 0x0 0x2000>;

        interrupt-parent = <&gic>;
        interrupts = <0 90 4>;

        xlnx,csi-pxl-format = <0x2b>;   /* RAW10 -- IMX519 is RAW10 in all modes */
        xlnx,vfb;

        clock-names = "lite_aclk", "video_aclk";
        clocks = <&zynqmp_clk 71>, <&zynqmp_clk 71>;

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                csi_in: endpoint {
                    remote-endpoint = <&imx519_0>;
                    data-lanes = <1 2>;
                };
            };

            port@1 {
                reg = <1>;
                csi_out: endpoint {
                    remote-endpoint = <&demosaic_in>;
                };
            };
        };
    };

    v_demosaic_0: v_demosaic@a0030000 {
        compatible = "xlnx,v-demosaic";
        reg = <0x0 0xa0030000 0x0 0x10000>;
        reset-gpios = <&gpio 80 1>;

        clocks = <&zynqmp_clk 71>;
        clock-names = "ap_clk";

        xlnx,max-width = <1920>;
        xlnx,max-height = <1080>;

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                xlnx,video-width = <10>;
                demosaic_in: endpoint {
                    remote-endpoint = <&csi_out>;
                };
            };

            port@1 {
                reg = <1>;
                xlnx,video-width = <10>;
                demosaic_out: endpoint {
                    remote-endpoint = <&vcap_csi_in>;
                };
            };
        };
    };

    v_frmbuf_wr_0: v_frmbuf_wr@a0000000 {
        compatible = "xlnx,v-frmbuf-wr-3.1", "xlnx,v-frmbuf-wr-v3.0", "xlnx,axi-frmbuf-wr-v2.2";
        reg = <0x0 0xa0000000 0x0 0x10000>;
        #dma-cells = <1>;
        interrupt-parent = <&gic>;
        interrupt-names = "interrupt";
        interrupts = <0 104 4>;
        clocks = <&zynqmp_clk 71>;
        clock-names = "ap_clk";
        reset-gpios = <&gpio 79 1>;
        xlnx,dma-addr-width = <32>;
        xlnx,dma-align = <8>;
        xlnx,pixels-per-clock = <1>;
        xlnx,vid-formats = "rgb888";

        xlnx,max-width = <1920>;
        xlnx,max-height = <1080>;
        xlnx,max-nr-planes = <1>;
    };

    vcap_csi: vcap_csi {
        compatible = "xlnx,video";
        dmas = <&v_frmbuf_wr_0 0>;
        dma-names = "port0";

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                direction = "input";
                vcap_csi_in: endpoint {
                    remote-endpoint = <&demosaic_out>;
                };
            };
        };
    };
};
